
/* CSS files add styling rules to your content */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}
#main 
{
    background: transparent;
    width: 100%;
    height: 50px;
}
#main nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#main nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 50px;
}
#main nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 6px 13px;
    transition: 0.4s all ease-out;
}
#main nav ul li a.active,
#main nav ul li a:hover{
    background: #fd4a47;
    color: #fff;
    transition: 0.4s all ease-out;
}
#main .logo{
    float: left;
}
.logo{
    background: url(mask required.png);
    width: 150px;
    height: 150px;
    background-position: centre;
    background-size: cover;
    margin-left: 40px;
    margin-top: -25px;
}

body {
    font-family: helvetica, arial, sans-serif;
    
    color:#919191;

    background:linear-gradient(rgba(42,58,74,0.85),rgba(42,58,74,0.85)),url('background.jpg') no-repeat center center/cover;

}

h1 {
    font-style: italic;
    color:#ff006f;
    font-size: 100px;

}


video {
    display: block;
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
}

.camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

.center{
    text-align:center;
}
.instructions{
    display: flex;
    font-size: 18px;
    width: 50%;
    color: black;
}

.TopContainer{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.btnOuter{
    margin:30px 0;
    display:flex;
    justify-content: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}